@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    src: url(/results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format('truetype');
}

:root {
    --font-family-default: 'HankenGrotesk';

    --fw-regualr: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
    
    /* primary colors */
    --Light-red-accent-1: 0, 100%, 67%;
    --Orangey-yellow-accent-2:39, 100%, 56%;
    --Green-teal-accent-3:166, 100%, 37%;
    --Cobalt-blue-accent-4:234, 85%, 45%;

    /* Gradients */
    --Light-slate-blue-primary-400: hsl(252, 100%, 67%); 
    --Light-royal-blue-secondary-400: hsl(241, 81%, 54%);

    --Violet-blue-primary-500: hsl(256, 72%, 46%);
    --Persian-blue-secondary-500: hsl(241, 72%, 46%);

    /* Neutral */

    --White-neutral-100: hsl(0, 0%, 100%);
    --Pale-blue-neutral-200: hsl(221, 100%, 96%);
    --Light-lavender-neutral-300: hsl(241, 100%, 89%);
    --Dark-gray-blue-neutral-700: hsl(224, 30%, 27%);


    --graident-primary: linear-gradient(
        var(--Light-slate-blue-primary-400),
        var(--Light-royal-blue-secondary-400)
    );

    --graident-to-transparent: linear-gradient(
        var(--Violet-blue-primary-500),
        var(--Persian-blue-secondary-500)
    )
}

*,
*::before, *::after {
    
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-default);
    font-size: var(--fs-400);
    color: var(--Dark-gray-blue-neutral-700);
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

.button {
    color: var(--White-neutral-100);
    line-height: 1;
    background: var(--Dark-gray-blue-neutral-700);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100vw;
    cursor: pointer;
}

.button:hover,
.button:focus-visible {
    background: var(--graident-primary);
}

.results-summary{
    --padding: 2.5rem;
    max-width: 46rem;
    display: grid;
}

@media (min-width: 600px) {
    .results-summary {
        margin-inline: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: .5rem 1rem 3rem hsla(224, 30%, 27%, 0.2);
    }
}

.results{
    color: hsla(0, 0%, 100%, 0.7);
    text-align: center;
    background: var(--graident-primary);
    border-radius: 0 0 2rem 2rem;
}

.results,
.summary {
    padding: var(--padding);
}

@media (min-width: 600px) {
    .results {
        border-radius: 2rem;
    }
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.grid-flow[data-spacing="large"] {
    gap: 2rem;
}

.section-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600 );
}

.result-score{
    display: grid;
    place-content: center;
    width: 12rem;
    margin-inline: auto;
    background: var(--graident-to-transparent);
    aspect-ratio: 1/1 ;
    border-radius: 50%;
}

.result-score span {
    display: block;
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    line-height: 1;
    color: var(--White-neutral-100);
}

.result-rank {
    color: var(--White-neutral-100);
    font-size: var(--fs-700);
    font-weight: bold;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(var(--item-color), .1);
}

 .flex-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
 }   

.summary-item-title{
    color: hsl(var(--item-color));
    font-weight: var(--fw-bold);
}

 .summary-item[data-item-type="accent1"] {
    --item-color: var(--Light-red-accent-1);
 }
 .summary-item[data-item-type="accent2"] {
    --item-color: var(--Orangey-yellow-accent-2);
 }
 .summary-item[data-item-type="accent3"] {
    --item-color: var(--Green-teal-accent-3);
 }
 .summary-item[data-item-type="accent4"] {
    --item-color: var(--Cobalt-blue-accent-4);
 }

 .summaryscore{
    font-weight: var(--fw-black);
    color: var(--Dark-gray-blue-neutral-700);
 }

 .summaryscore span {
    color: var(--Dark-gray-blue-neutral-700);
 }

 .results {
    padding: 2rem 3rem;
 }






